In [62]:
import Cleaning_fun as clfun
import pandas as pd

In [75]:
df = pd.read_csv('../Data/train.csv')
df.dropna(subset=['price'], inplace=True)

In [76]:
# Lets check which are the columns with the most NaNs
clfun.num_NaNs(df, n=100)

{'neighborhood_overview': 1163,
 'host_about': 1512,
 'host_response_time': 1413,
 'host_response_rate': 1413,
 'host_acceptance_rate': 1092,
 'host_neighbourhood': 1786,
 'neighbourhood': 1163,
 'neighbourhood_group_cleansed': 4167,
 'bathrooms': 4167,
 'bedrooms': 253,
 'beds': 174,
 'calendar_updated': 4167,
 'first_review': 377,
 'last_review': 377,
 'review_scores_rating': 377,
 'review_scores_accuracy': 385,
 'review_scores_cleanliness': 385,
 'review_scores_checkin': 385,
 'review_scores_communication': 385,
 'review_scores_location': 385,
 'review_scores_value': 385,
 'reviews_per_month': 377}

In [77]:
# We can now name some columns to remove them from the dataframe,
not_rel = ['id', 'scrape_id', 'last_scraped', 'name','picture_url', 'host_id', 'host_url','host_location', 'license',
'host_name','instant_bookable','neighborhood_overview','neighbourhood_group_cleansed','calendar_updated','host_thumbnail_url','availability_30',
'availability_60', 'availability_90','calendar_last_scraped','listing_url','property_type','bathrooms','host_picture_url']

In [78]:
df = clfun.Clean_columns(df, colms=not_rel) # And remove them

In [79]:
df.columns

Index(['description', 'host_since', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'room_type',
       'accommodates', 'bathrooms_text', 'bedrooms', 'beds', 'amenities',
       'price', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'has_availability', 'availability_365',
       'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [61]:
df.drop(columns=[])

53

In [89]:
df_hola = pd.DataFrame()

      private_room  entire_home/apt  hotel_room  shared_room
0                0                0           1            0
1                1                0           0            0
2                0                1           0            0
3                1                0           0            0
4                0                0           1            0
...            ...              ...         ...          ...
4162             1                0           0            0
4163             1                0           0            0
4164             1                0           0            0
4165             0                0           1            0
4166             1                0           0            0

[4167 rows x 4 columns]